/Assignment/nbproject/private/
/TestAss/nbproject/private/
/TestAss/build/
/TestAss/dist/
/Assignment/dist/
/Assignment/build/
/SessionDemo/nbproject/private/
/SessionDemo/dist/
/SessionDemo/build/
/LoginAndRectangle/nbproject/private/
/LoginAndRectangle/build/
/LoginAndRectangle/dist/
/HuHu/nbproject/private/
/HuHu/build/
/HuHu/dist/
