<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/timetable</url-pattern>
        <url-pattern>/att.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AttendanceTakingServlet</servlet-name>
        <servlet-class>controller.AttendanceTakingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableServlet</servlet-name>
        <servlet-class>controller.TimeTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFailServlet</servlet-name>
        <servlet-class>controller.LoginFailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReportServlet</servlet-name>
        <servlet-class>controller.AttendanceReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chayChoBoMay</servlet-name>
        <servlet-class>controller.chayChoBoMay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceTakingServlet</servlet-name>
        <url-pattern>/att</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableServlet</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFailServlet</servlet-name>
        <url-pattern>/loginfail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReportServlet</servlet-name>
        <url-pattern>/atttendReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chayChoBoMay</servlet-name>
        <url-pattern>/chay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
